<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Note</title>
</head>
<body>
<h1>Edit Note</h1>
<form th:action="@{/delete-note}" method="post" th:object="${note}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Title
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><textarea ncols="30" rows="10" th:field="*{content}"></textarea></td>
        </tr>
        <tr>
            <td>Note Type</td>
            <td>
                <select th:field="*{noteType}">
                    <option th:each="p:${notetype}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Delete Note">
            </td>
        </tr>

    </table>
</form>
</body>
</html>