<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note List</title>
</head>
<body>
<h1>Note list</h1>
<a href="/create-note">Create Note</a>
<br>
<form >
    Search by name:
    <input type="text" name="search">
    <input type="submit" value="Search">
</form>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Note Type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="p:${notes}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.title}"></td>
        <td th:text="${p.content}"></td>
        <td th:text="${p.noteType.name}"></td>
        <td><a th:href="@{/edit-note/__${p.id}__}">Edit</a></td>
        <td><a th:href="@{/delete-note/__${p.id}__}">Delete</a></td>
    </tr>
</table>
<div>
    <a th:href="@{'/note'(page=${notes.number - 1})}" th:if="${notes.hasPrevious()}">Previous</a>
    <span th:text="${notes.number + 1}"></span>/<span th:text="${notes.totalPages}"></span>
    <a th:href="@{'/note'(page=${notes.number + 1})}" th:if="${notes.hasNext()}">Next</a>
</div>
</body>
</html>